.contact {
  background-image: url(/img/fem-aurora.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-White);
  padding: 4rem 0;
  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;

    a {
      text-decoration: none;
      color: black;
    }

    p:last-child {
      margin-top: 5rem;
    }

    .button {
      display: inline-block;
      font-family: var(--heading);
      border: none;
      padding: 1rem 2rem;
      font-size: calc(var(--text) - 5px);
      text-transform: uppercase;
      border-radius: 1rem;
      cursor: pointer;
      background-color: var(--color-Green);

      // hover state for the button
      &:hover {
        filter: brightness(120%);
        outline: none;
      }
    }
  }
}
