.intro {
  background-image: url(/img/fem-comet.jpg);
  background-position: 86% 20%;
  background-repeat: no-repeat;

  color: var(--color-White);
  padding: 5rem 0;

  &__header {
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;

    // Name styling
    &--name {
      h1 {
        margin: 0;
        font-weight: 200;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: white;
        height: 4rem;
        width: 4rem;
        &:hover {
          color: var(--color-Green);
        }
      }

      a {
        text-decoration: none;
        color: white;
      }
    }

    // nav styling

    &--navlist {
      font-family: var(--heading);
      font-weight: 600;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: center;
        gap: 2rem;
        list-style: none;
      }

      li a {
        font-size: 2rem;
        text-decoration: none;
        color: white;

        &:hover {
          color: var(--color-Green);
        }
      }

      li svg {
        height: 3rem;
        width: 3rem;
        fill: white;
        &:hover {
          fill: var(--color-Green);
        }
      }
    }
  }
  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem 3rem;
    letter-spacing: 1.5px;

    h2 {
      margin: 5rem 0;
    }
    p {
      margin: 2rem 0;
      //   name styling
      span {
        font-weight: 700;
      }
    }
  }
}

// medie queries
// 1000px

@media screen and (max-width: 1000px) {
  .intro {
    &__header {
      flex-direction: column;
      gap: 3rem;
      &--navlist {
        margin: 0 auto;
      }
    }

    &__container {
      text-align: center;
    }
  }
}

@media screen and (max-width: 755px) {
  .intro {
    &__header {
      flex-direction: row;
      &--navlist {
        position: fixed;
        padding: 20rem 0;
        top: 0;
        right: 200%;
        width: 100vw;
        height: 100vh;
        background: #fff;
        opacity: 0;
        transition: right 0s 0.5s opacity 0.5s;

        ul {
          display: block;
          text-align: center;
          color: black;
          position: relative;
          top: -50vh;
          transition: top 0.5s;

          &::after {
            content: "\2716";
            color: var(--color-Green);
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 3rem;
            cursor: pointer;
          }
        }
        & a:any-link {
          display: block;
          padding: 1.5rem;
          color: var(--color-Green);

          &:hover {
            filter: brightness(180%);
          }
        }

        & a svg {
          fill: var(--color-Green);
        }
      }
      button {
        display: block;
        font-size: 3rem;
        line-height: 1;
        border: 0;
        background-color: transparent;
        color: white;

        &:hover {
          color: var(--color-Green);
        }
        &::after {
          content: "\2630";
        }

        &:focus + nav,
        &:focus-within + nav {
          right: 0;
          opacity: 1;
        }
        &:focus + nav ul,
        &:focus-within + nav ul {
          top: 0;
        }
      }
    }
  }
}
